.git
.gitignore
.github
data/
notebooks/
artifacts/checkpoints/
artifacts/logs/
outputs/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
.dvc/
.dvcignore
dvc.yaml
dvc.lock
tests/
docker-compose.yml
README.md
rootkey.csv
.DS_Store
